/* depreicated */
.script-editor { 
    background-color: hsl(var(--editor-background));  
    /* background-color: var(--editor-background);   */
    color: hsl(var(--editor-text));
    box-shadow: 0 2px 5px color(display-p3 0 0 0/0.1);
}

.script-editor .dialogue-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0     
}

.script-editor p {
    padding: 0;
    min-height: 28px; /* line height */
    /* color: hsl(var(--editor-text)); */
}

.script-editor h3 {
    padding: 15px 0;
    text-transform: uppercase;
}

.script-editor h2 {
    text-align: right;
}

.script-editor h2 h3 h4 h5 h6 {
    color: hsl(var(--editor-text-dark)); 
}


/* depreicated */
.script-editor .dialogue-container p {
    text-align: left;
    /* padding: 15px 0; */
    max-width: 385px;
}

.script-editor .character {
    text-align: center;
    padding-top: 15px;
    min-height: 44px;
}

.script-editor .dialogue {
    text-align: left;
    /* padding: 15px 0; */
    max-width: 385px;
    padding-left: 116px;
    padding-bottom: 16px;
    box-sizing: content-box;
    
}

.dialog {

}

.script-editor-line-container {
   display: flex; 
   
}

.script-editor-line-container-number {
    /* align-self: center; */
    position: relative;
    left: -90px;
   
}

/* .script-editor > div > *.highlight {
    background: #ffffba;
} */

.script-editor > div > * {
    background: transparent;
    transition: all 0.4s
}

mark {
    /* background-color:#ffffba; */
    background-color: var(--highlight-color);
    animation: 400ms ease-in fadeIn forwards;
}

@keyframes fadeIn {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: var(--highlight-color);
    }
}