.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}

.SliderTrack {
  /* background: linear-gradient(to right, color(display-p3 0.004 0.039 0.2/0.122) 20%, color(display-p3 0 0 0/0.4) 20%); */
  /* background-color: color(display-p3 0.004 0.039 0.2/0.122); */
  /* background-color: color(display-p3 0 0 0/0.8); */
  transition: all 0.2s;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: color(display-p3 0.004 0.039 0.2/0.4);
  /* background-color: hsl(val(--loading-color)); */
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: 0 2px 10px color(display-p3 0 0 0/0.5);
  border-radius: 10px;
}
.SliderThumb:not(.disabled):hover {
  background-color: color(display-p3 0.953 0.943 0.993);
}
.SliderThumb:not(.disabled):focus {
  outline: none;
  box-shadow: 0 0 0 5px color(display-p3 0 0 0/0.6);
}

.play-button-container {
  min-width: 56px;
}

.time-container {
  min-width: 139px;
}

.play-button img {
  width: 12px;
  height: 12px;
}

.play-button {  
  position: relative;
  border-radius: 100%;
  padding: 10px;
  border: 1px solid hsl(var(--border));
  box-shadow: 0 2px 10px color(display-p3 0 0 0/0.3);
  /* background-color: color(display-p3 0.872 0.575 0.572); */
}

.dowload-icon {
  cursor: pointer;
  color: hsl(var(--editor-text-dark));
  opacity: 0.5;
}

.play-icon {
    transform: translateX(1px)
}

.audio-player-container.disabled {
    opacity: 0.3;
    transform: translateY(100%);
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.audio-player-container {
  transform: translateY(0);
  transition: all 0.2s;
  background-color: hsl(var(--editor-background));
  border-color: hsl(var(--border));
  z-index: 100;
  position: relative;
  color: hsl(var(--editor-text-dark))
}

.pulse {
  /* background-color: #ffd791; */
  box-shadow: 0 2px 10px color(display-p3 0 0 0/0.3);
	border-radius: 50%;
	animation: pulse-effect 1s infinite;
}

@keyframes pulse-effect {
	0% {
		/* transform: scale(0.9); */
		box-shadow: 0 2px 10px color(display-p3 0 0 0/0.3);
	}

	70% {
		/* transform: scale(1); */
		box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
	}

	100% {
		/* transform: scale(0.9); */
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}